<div class="shard">
  <svg viewBox="-234 324.8 145.3 145.3">
     <filter id="blurMe">
        <feGaussianBlur in="SourceGraphic" stdDeviation="1" />
      </filter>

      <linearGradient id="linearGradientt" gradientTransform="rotate(45)">
        <stop offset="10%" stop-color="#c2eaff" />
        <stop offset="69%" stop-color="#72a2dc" />
        <stop offset="71%" stop-color="#29557a" />
        <stop offset="90%" stop-color="#2a5b64" />
      </linearGradient>

    <rect x="-234" y="324.8" class="st0" width="145.3" height="145.3" fill="#003984"/>
    <rect x="-207" y="352" class="st0" width="90" height="90" fill="#004aae" filter="url(#blurMe)"/>
    <path d="M-88.7,470.1h-145.2l-0.1-145.3h145.2L-88.7,470.1z M-214.9,451.2h107.3V343.9l-107.4-0.1L-214.9,451.2z" fill="url('#linearGradientt')"/>
    <polygon points="-200,358.8 -199.9,413.5 -188.2,370.8 -144.9,358.6 " fill="#a8c3e7"/>
    <polygon points="-122.1,437.2 -151.3,437.2 -128.3,431.1 -122.1,407.5 " fill="#83a6d5"/>
    <polygon points="-107.6,451.2 -107.6,343.9 -105.2,453.5 -214.6,451.2 " fill="#a8c3e7" filter="url(#blurMe)"/>
    <polygon points="-231.8,326.9 -231.8,397.9 -227.8,330.5 -156.3,326.9 " fill="#fff" filter="url(#blurMe)"/>
  </svg>
</div>