
<div class="card-outer glow" [class.active]="active || card.isHighlighted"></div>
<div class="card-outer stroke" [class.active]="active || card.isHighlighted"></div>

<div class="card">
  <div *ngIf="!hideCost" class="card-cost">
    <div *ngFor="let cost of (cardCost$ | async)">
      <div class="resource-value" 
        [class.major]="cost.isMajor"
        [class.minor]="cost.isMinor"
        [class.move]="cost.isMove">
        {{ cost.value }}
      </div>
    </div>
  </div>
  <div class="card-header">
    <svg viewBox="0 0 200 50">
      <defs>
        <path id="textPath" d="M0 35 C75 20 125 20 200 35"/>
      </defs>
      <text height="100%" width="100%">
        <textPath xlink:href="#textPath" text-anchor="middle" startOffset="50%">
          {{ cardRef.narrative.name | translate }}
        </textPath>
      </text>
    </svg> 
  </div>
  <div class="card-artwork">
    <img [assetDeclaration]="cardRef.uiData.avatar" />
  </div>
  <div class="card-description">
    <div><h5>Play:</h5><p>{{ (cardText$ | async)  }}</p></div>
    <div><h5>Discard:</h5><p>{{ (discardText$ | async)  }}</p></div>
  </div>
</div>




<!-- <button (click)="play(card)">
  play: {{ card.narrative.name | translate }}
</button>
<button (click)="trash(card)">
  trash: {{ card.narrative.name | translate }}
</button> -->
