:host {
  height: 100%;
  width: 100%;
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  

  .indicator {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1;
    height: 1;
    text-align: center;
  }
}