<!-- <div class="loader-container">
  <div class="loader-img-frame" [class.show]="load">
    <img [assetDeclaration]="imgAsset" />
  </div>
  <div class="info" [class.hide]="load">
    <div>{{ 'quotes.example' | translate }}</div><div><div circle-spinner></div></div>
  </div>
</div> -->


<div class="label-container" *ngFor="let e of entities" 
  [style.transform]="'translate(' + e.viewportCoords.x + 'px,' + e.viewportCoords.y +'px)'">
  <div class="label" [style.transform]="'scale(' + scale + ')'">

  </div>
</div>

<scene [scene]="sceneService"></scene>