<hero-bar
  [hero]="(hero$ | async)"
  [items]="(menu$ | async)" 
  (itemSelected)="selectTopBarItem($event)">
</hero-bar>

<context-commands-bar
  [commands$]="availableCommands$"
  (commandsSelected)="handleSelectedCommands($event)">
</context-commands-bar>

<adventure-scene (selectedArea)="handleAreaClick($event)">
  <scene-associated-container *ngFor="let a of (areas$ | async)" [relativeTo]="a">
    <area-label [area]="a" (selectedArea)="handleAreaClick($event)"></area-label>
  </scene-associated-container>
</adventure-scene>
