<div cdkDropListGroup>
  <hero-bar
    [hero]="stateStore.currentState.getHumanPlayerPawn()"
    [items]="(menu$ | async)" 
    (itemSelected)="selectTopBarItem($event)">
  </hero-bar>


  <div class="players-order-wrapper">
    turn: {{ gameplay.turn }}
    round: {{ gameplay.round }}
    currentPlayer: {{ gameplay.currentPlayer.playerType === 0 ? 'Computer': 'Human' }}
  </div>

  <div class="log-wrapper">
    <dungeon-log></dungeon-log>
  </div>

  <div class="left-container">
    <cards-deck [bearer]="hero"></cards-deck>
  </div>

  <div class="center-container top">
    <div class="d-flex justify-content-center align-items-center">
      <resources-bar [pawn]="selectedPawn"></resources-bar>
      <ability-controls [commands$]="abilities$" (commandsSelected)="handleSelectedCommands($event)"></ability-controls>
    </div>
  </div>
  <div class="center-container">
    <cards-outlet [bearer]="hero"></cards-outlet>
  </div>

  <div class="right-container">
    <turn-controls [pawn]="selectedPawn" [player]="player" [disabled]="!allowInteractions"></turn-controls>
  </div>

  <cards-board [bearer]="hero"></cards-board>

  <dungeon-scene>
    <scene-associated-container *ngFor="let a of (actors$ | async)" [relativeTo]="a" [offsetY]="0" [offsetX]="0.5">
      <creature-bar *ngIf="a.isCreature || a.isHero" [creature]="a"></creature-bar>
    </scene-associated-container>
  </dungeon-scene>

  <statistic-change-indicator></statistic-change-indicator>
  <ui-effects-canvas></ui-effects-canvas>
</div>