<div class="menu-btn-wrapper">
  <burger-button darkMode #menuPanelOrigin="panel-origin" panel-origin (click)="menuPanelOrigin.openPanel()"></burger-button>
  <panel-overlay [hideOnMouseLeave]="true" [origin]="menuPanelOrigin" class="panel">
    <game-menu></game-menu>
  </panel-overlay>
</div>

<div class="players-order-wrapper">
  <actors-list></actors-list>
</div>

<div class="log-wrapper">
  <dungeon-log></dungeon-log>
</div>

<div class="player-control-wrapper">
  <player-control></player-control> 
</div>

<scene></scene>