<div>
  <div class="row">
    <div class="column-2">majorAction: {{ hero.majorAction }} </div>
    <div class="column-2">minorAction: {{ hero.minorAction }} </div>
    <div class="column-2">moveAction: {{ hero.moveAction }} </div>
    <div class="column-4">source: {{ hero.source }} </div>
  </div>
  <div class="row">
    <button *ngFor="let activity of activities" 
      (click)="selectActivity(activity, $event)"
      [disabled]="activity.isDisabled"
      [class.selected]="activity.isSelected">
      {{ activity.name }}
    </button>
  </div>
</div>
<div *ngIf="confirmationEarly">
  <button (click)="acceptActivityEarly()">Accept early</button>
</div>
<div *ngIf="confirmation">
  <button (click)="acceptActivity()">Accept</button>
  <button (click)="rejectActivity()">Reject</button>
</div>