@import '../../../../../scss/colors.scss';


:host {
  display: block;

  .choosen-lanugage {
    color: #979797;
    padding: 10px 5px 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 110px;

    span {
      margin-right: 5px;
    }

    i {
      margin-top: 5px;
      padding: 5px;
      font-size: 8px;
    }
  }
}

.language-select {
  color: #979797;
  background-color: $secondary-dark;
  margin-top: 10px;
  padding: 10px 23px 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  outline: none;
  border: none;
  width: 100%;
  span {
    margin-right: 5px;
  }
}