<div class="choosen-lanugage" #profilePanelOrigin="panel-origin" panel-origin onClick>
  <strong><span>{{ selectedLanguage?.name }}</span></strong>
  <img src="{{ selectedLanguage?.flagUrl }}" />
  <i name="cartet-bottom"></i>
</div>


<panel-overlay [origin]="profilePanelOrigin" class="language-picker" >
  <button class="language-select" *ngFor="let language of languagesToSelect" (click)="setChoosenLanguage(language, profilePanelOrigin)" >
    <span><strong>{{ language.name }}</strong></span><img src="{{ language.flagUrl }}" />
  </button>
</panel-overlay>