:host {
  width: 100%;
  height: 100%;
  background-color: #131217;
  display: flex;
  justify-content: center;
  align-items: center;


  .loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .loader-img-frame {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 10px;
      transform: scale(0.9);
      border: 1px solid #473e56;

      img {
        position: absolute;
        left: -1000%;
        right: -1000%;
        margin: auto;
        width: 100%;

      }
    }

    .info {
      position: relative;
      z-index: 100;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #979797;
      padding: 50px;
      background-color: #131217;
    }
  }
}