.item-slot-outer {
  border-radius: 5px;
  margin:5px;
  width: 50px;
  height: 50px;
  background: rgb(80,73,94);
  background: -moz-linear-gradient(0deg, rgba(80,73,94,1) 0%, rgba(114,112,117,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(80,73,94,1) 0%, rgba(114,112,117,1) 100%);
  background: linear-gradient(0deg, rgba(80,73,94,1) 0%, rgba(114,112,117,1) 100%);
  box-shadow: 0px 0px 8.6px rgba(0, 0, 0, 0.605), 0px 0px 69px rgba(0, 0, 0, 0.247);

  .item-slot-inner {
    width: 44px;
    height: 44px;
    position: relative;
    top: 3px;
    left: 3px;
    -webkit-box-shadow: inset 0 0 30px rgb(0, 0, 0);
    -moz-box-shadow: inset 0 0 30px rgb(0, 0, 0);
    box-shadow: inset 0 0 30px rgb(0, 0, 0);
    background-color: #1f1b27;
    i {
      position: absolute;
      top: 0;
      text-align: center;
      font-size: 30px;
      z-index: 10;
      transform: scale(1.5);
      display: block;
    }
  }

  img {
    position: relative;
    width: 100%;
    display: block;
    z-index: 100;
  }

  .stack-size {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: #fff;
    font-weight: bold;
    z-index: 101;
    pointer-events: none
  }

  &.disabled {
    img {
      opacity: .5;
    }
  }

  &.highlighted {
    background: rgb(127,99,182);
    background: linear-gradient(0deg, rgba(127,99,182,1) 0%, rgba(162,117,230,1) 100%);
  }

  &.occupied {
    .cdk-drag:not(:first-child) {
      display: none;
    }
  }
 
}