<div class="item-slot-outer"
  #trigger
  cdkOverlayOrigin 
  (hover)="onSlotHover.next($event)"
  [class.disabled]="slot.isDisabled"
  [class.highlighted]="slot.isHighlighted"
  [class.occupied]="!!slot.stackSize">
  <div class="item-slot-inner"
    cdkDropList
    [cdkDropListData]="slot"
    [cdkDropListDisabled]="slot.isDisabled"
    [cdkDropListEnterPredicate]="validateItemEnter" 
    (cdkDropListDropped)="onDrop($event)">

    <ng-container *ngIf="slot.item">
      <img
      (cdkDragStarted)="onDragStarted($event)"
      (cdkDragEnded)="onDragEnded($event)"
      [assetDeclaration]="slot.item.uiData.avatar" 
      cdkDrag 
      [cdkDragData]="slot">
    </ng-container>

    <ng-container *ngIf="slot.reservationItem">
      <img
      [assetDeclaration]="slot.reservationItem.uiData.avatar">
    </ng-container>

    <i *ngIf="slot.uiData" [name]="slot.uiData.icon"></i>
    <div *ngIf="displayAmount && !!slot.stackSize" class="stack-size">{{ slot.stackSize }}</div>
  </div>
</div>