:host {
  

  .cards-pile {
    color: #fff;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    margin: 10px;
    width: 100px;
    height: 200px;
    text-align: center;
  }
}