<!-- <div>hand: {{ deck.hand.size }}</div> -->

<!-- cdkDropListEntered -->
<div class="cards-deck"
  [class.focused]="isHovered"
  cdkDropList
  [id]="dropListId"
  cdkDropListOrientation="horizontal"
  [cdkDropListEnterPredicate]="validateItemEnter()"
  [cdkDropListAutoScrollDisabled]="true"
  (cdkDropListDropped)="onDrop($event)"
  (cdkDropListEntered)="onDropListEntered($event)"
  (cdkDropListExited)="onDropListExited($event)">

  <div #containerRef class="card-container" *ngFor="let card of cards"
    [@cardEnter]="getCardEnterAnimation(card, containerRef)"
    (@cardEnter.done)="enterAnimationEnd(card)">
    <card-container [card]="card"></card-container>
  </div>


  <div class="cards-pile">
    discard pile: <br>{{ deck.discardPile.size }}
  </div>
  <div class="cards-pile">
    trash pile: <br>{{ deck.trashPile.size }}
  </div>
  <div class="cards-pile">
    draw pile: <br>{{ deck.drawPile.size }}
  </div>
</div>
<!-- 
[@cardLeave]="calculateCardLeaveAnimation(card, containerRef)"
(@cardLeave.done)="animationEnd(card)" -->