:host {
  
  .cards-deck {
    position: relative;
    transition: transform ease-in-out .2s;
    &.focused {
      transform: scale(1.1);
    }
  }

  .cards-pile {
    color: #fff;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    margin: 10px;
    width: 100px;
    height: 200px;
    text-align: center;
  }

  .card-container , ::ng-deep .card-container-placeholder.cdk-drag-placeholder {
    position:absolute;
    display: block;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
  }
}


