<div class="cards-board"
  [class.hovered]="isHovered"
  [class.allow-pointer]="allowPointer"
  cdkDropList
  [id]="dropListId"
  cdkDropListOrientation="horizontal"
  [cdkDropListEnterPredicate]="validateItemEnter()"
  [cdkDropListAutoScrollDisabled]="true"
  (cdkDropListDropped)="onDrop($event)"
  (cdkDropListEntered)="onDropListEntered($event)"
  (cdkDropListExited)="onDropListExited($event)">
  
  <div #containerRef *ngFor="let card of cards"
    [@.disabled]="isCardAnimationBlocked(card)"
    [@cardEnter]="getCardEnterAnimation(card, containerRef)"
    (@cardEnter.done)="enterAnimationEnd(card)">
    <card-container
      [card]="card" 
      [active]="true">
    </card-container>
  </div>

  <div class="play-card-flash"></div>

</div>