<div class="cards-board"
  [class.hovered]="isHovered"
  [class.allow-pointer]="allowPointer"
  cdkDropList
  [id]="dropListId"
  cdkDropListOrientation="horizontal"
  [cdkDropListEnterPredicate]="validateItemEnter()"
  [cdkDropListAutoScrollDisabled]="true"
  (cdkDropListDropped)="onDrop($event)"
  (cdkDropListEntered)="onDropListEntered($event)"
  (cdkDropListExited)="onDropListExited($event)">

  <card-container *ngFor="let card of cards" [card]="card" [active]="true"></card-container>
  <div class="play-card-flash"></div>

</div>