<button (click)="backToMainMenu()">Back to menu</button>
<main class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let gameSave of (gameSaves$ | async)"
        class="selectable-hero"
        [class.selected]="gameSave.isSelected">
        <img [src]="gameSave.avatarUrl">
        <div>{{ gameSave.heroName }}</div>
        <div>{{ gameSave.level }}</div>
        <div>{{ gameSave.areaName }}</div>
        <button (click)="removeGameSave(gameSave)">{{ 'game-persistance.remove-game-save' | translate }}</button>
        <button common-button (click)="selectGameSave(gameSave)">{{ 'game-persistance.load-game-save' | translate }}</button>
      </div>
    </div>
  </div>
</main>