<button (click)="backToMainMenu()">Back to menu</button>
<main class="container fh">
  <div class="row fh flex_center-center">
    <div class="column-5 flex_center-center">
      <div>
        <div *ngFor="let progression of progressions"
          [class.selected]="progression.adventureState.adventureStateId === selectedProgression?.adventureState?.adventureStateId" 
          class="selectable-hero"
          (click)="selectProgression(progression)">
          <img [src]="progression.adventureState.heroAvatar">
          <div>{{ progression.adventureState.heroName }}</div>
          <button (click)="removeProgression(progression)">Remove progression</button>
        </div>
      </div>
      <button common-button (click)="loadProgression()" [disabled]="progressions.length === 0">Load progression</button>
    </div>
  </div>
</main>
