:host {
  position: relative;
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  .perk-slot {
    display: inline-block;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
  } 
}