<div class="container heading-container">
  <div class="row no-gutters">
    <div class="col">
      <button class="back-btn" (click)="returnToMenu()">{{ 'commons.return-to-menu' | translate }}</button>
      <h1>{{ 'sentences.prepare-for-adventure' | translate }}</h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="row no-gutters">
    <div class="col picker">
      <div *ngFor="let hero of heroes" 
        (click)="selectHero(hero)"
        class="picker-option" 
        [class.dimmed]="!!selectedHero && selectedHero !== hero">
        <div [ngClass]="hero.colorTheme">
          <button class="info-btn" (click)="navigateToHeroDetails(hero)"><i name="class"></i></button>
          <hero-portrait [portrait]="hero.portrait" [selected]="selectedHero === hero"></hero-portrait>
          <div class="info d-flex justify-content-center align-items-center flex-column">
            <div cdkOverlayOrigin 
              #trigger
              (hover)="openInfoPanel($event, trigger, hero.heroAbility)">
              <heroic-slot [ability]="hero.heroAbility" [class.selected]="selectedHero === hero"></heroic-slot>
            </div>
            <h2>{{ hero.name | translate }}</h2>
            <p>{{ hero.shortDescription | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button common-cta-button
    class="cta-btn"
    [disabled]="!selectedHero"
    (click)="createGame()">
      {{ 'game-builder.create-game' | translate }}
  </button>

</div>