<div class="container heading-container">
  <div class="row">
    <div class="col">
      <button (click)="returnToMenu()">{{ 'commons.return-to-menu' | translate }}</button>
      <h6>{{ 'sentences.prepare-for-adventure' | translate }}</h6>
    </div>
  </div>
</div>

<div class="container builder-container">
  <div class="row no-gutters">
    <div class="col">
      <div class="step-bar">
        <div class="step-bar-segment step-bar-closure">
          <div class="progress-indicator">
            <div class="progress-indicator-bg"></div>
          </div>
        </div>
        <div class="step-bar-segment" [class.step-bar-closure]="step.isLastStep" *ngFor="let step of process.steps">
          <div class="progress-indicator">
            <div *ngIf="step.isFulfilled" [@fadeAnimation] class="progress-indicator-bg"></div>
          </div>
          <button
            (click)="navigateToStep(step)" 
            [disabled]="isPreviousStepNotFulfilled(step)"
            [class.isFulfilled]="step.isFulfilled"
            [class.isSelected]="step.isSelected">
            <shard></shard>
            <h3> 
              <small>{{ 'commons.pick' | translate }}</small><br>
              {{ step.narrative.name | translate }}
            </h3>
            <div>{{ step.selectionName | translate }}</div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters picker-container">
    <div class="col">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </div>
  <button common-cta-button
    class="cta-btn"
    [class.last-step]="process.isLastStep"
    [disabled]="!(currentStepComponent.canBeResolved$ | async)"
    (click)="navigateToNextStep()">
      {{ process.isLastStep ? ('game-builder.create-game' | translate) : 'commons.select' | translate }}
  </button>

</div>