@import "./dungeon-crawler-font.scss";

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../assets/fonts/PTSans-Narrow.eot');
  src: url('../assets/fonts/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/PTSans-Narrow.woff2') format('woff2'),
      url('../assets/fonts/PTSans-Narrow.woff') format('woff'),
      url('../assets/fonts/PTSans-Narrow.ttf') format('ttf'),
      url('../assets/fonts/PTSans-Narrow.svg#../assets/fonts/PTSans-Narrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../assets/fonts/PTSans-NarrowBold.eot');
  src: url('../assets/fonts/PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/PTSans-NarrowBold.woff2') format('woff2'),
      url('../assets/fonts/PTSans-NarrowBold.woff') format('woff'),
      url('../assets/fonts/PTSans-NarrowBold.ttf') format('ttf'),
      url('../assets/fonts/PTSans-NarrowBold.svg#PTSans-NarrowBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-Bold.eot');
  src: url('../assets/fonts/Platypi-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-Bold.woff2') format('woff2'),
      url('../assets/fonts/Platypi-Bold.woff') format('woff'),
      url('../assets/fonts/Platypi-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-BoldItalic.eot');
  src: url('../assets/fonts/Platypi-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/Platypi-BoldItalic.woff') format('woff'),
      url('../assets/fonts/Platypi-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-ExtraBold.eot');
  src: url('../assets/fonts/Platypi-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-ExtraBold.woff2') format('woff2'),
      url('../assets/fonts/Platypi-ExtraBold.woff') format('woff'),
      url('../assets/fonts/Platypi-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-ExtraBoldItalic.eot');
  src: url('../assets/fonts/Platypi-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-ExtraBoldItalic.woff2') format('woff2'),
      url('../assets/fonts/Platypi-ExtraBoldItalic.woff') format('woff'),
      url('../assets/fonts/Platypi-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-Light.eot');
  src: url('../assets/fonts/Platypi-Light.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-Light.woff2') format('woff2'),
      url('../assets/fonts/Platypi-Light.woff') format('woff'),
      url('../assets/fonts/Platypi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-Medium.eot');
  src: url('../assets/fonts/Platypi-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-Medium.woff2') format('woff2'),
      url('../assets/fonts/Platypi-Medium.woff') format('woff'),
      url('../assets/fonts/Platypi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-MediumItalic.eot');
  src: url('../assets/fonts/Platypi-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-MediumItalic.woff2') format('woff2'),
      url('../assets/fonts/Platypi-MediumItalic.woff') format('woff'),
      url('../assets/fonts/Platypi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-Italic.eot');
  src: url('../assets/fonts/Platypi-Italic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-Italic.woff2') format('woff2'),
      url('../assets/fonts/Platypi-Italic.woff') format('woff'),
      url('../assets/fonts/Platypi-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-Regular.eot');
  src: url('../assets/fonts/Platypi-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-Regular.woff2') format('woff2'),
      url('../assets/fonts/Platypi-Regular.woff') format('woff'),
      url('../assets/fonts/Platypi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-SemiBoldItalic.eot');
  src: url('../assets/fonts/Platypi-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-SemiBoldItalic.woff2') format('woff2'),
      url('../assets/fonts/Platypi-SemiBoldItalic.woff') format('woff'),
      url('../assets/fonts/Platypi-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-SemiBold.eot');
  src: url('../assets/fonts/Platypi-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Platypi-SemiBold.woff') format('woff'),
      url('../assets/fonts/Platypi-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Platypi';
  src: url('../assets/fonts/Platypi-LightItalic.eot');
  src: url('../assets/fonts/Platypi-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Platypi-LightItalic.woff2') format('woff2'),
      url('../assets/fonts/Platypi-LightItalic.woff') format('woff'),
      url('../assets/fonts/Platypi-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

