<div class="fluid-container d-flex flex-column justify-content-center">
  <div class="row race-menu no-gutters">
    <div class="col d-flex flex-row justify-content-center">
      <button *ngFor="let race of races"
        class="race-btn" 
        (click)="preview(race)" 
        [class.isPreview]="race.id === previewRace?.id || !canBeResolved$.value">
        <img [assetDeclaration]="race.visual.ui.avatar"> <span>{{ race.narrative.name | translate }}</span>
      </button>
    </div>
  </div>
</div>

<div class="fluid-container d-flex flex-column justify-content-center race-preview">
  <div class="row race-summary no-gutters">
    <div class="col">
      <div class="row">
        <div class="col-8">
          <div class="race-title d-flex flex-row justify-content-start align-items-center">
            <img [assetDeclaration]="previewRace.visual.ui.avatar"/>
            <h1>
              <small>{{ "commons.race" | translate }}</small><br>
              {{ previewRace.narrative.name | translate }}
            </h1>
          </div>
          <div class="race-description">{{ previewRace.narrative.description | translate }}</div>
        </div>
        <div class="col-4">
          <div>
            <h4>{{ "commons.statistics" | translate }}</h4>
            <stats-table [stats]="previewRace.statistics"></stats-table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div>
            <h4>{{ "commons.abilities" | translate }}</h4>
            <ability-slot *ngFor="let ability of previewRace.abilities" [ability]="ability"></ability-slot>
          </div>
        </div>
        <div class="col-4">
          <div>
            <h4>{{ "commons.perks" | translate }}</h4>
            <perk-slot *ngFor="let perk of previewRace.perks" [perk]="perk"></perk-slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>