<div class="cards-container"
  cdkDropList
  [id]="dropListId"
  cdkDropListOrientation="horizontal"
  [cdkDropListAutoScrollDisabled]="true"
  [cdkDropListEnterPredicate]="validateItemEnter" 
  (cdkDropListDropped)="onDrop($event)"
  (cdkDropListEntered)="onDropListEntered($event)"
  (cdkDropListExited)="onDropListExited($event)">

  <div #containerRef *ngFor="let card of cards"
    [@.disabled]="card.isDragging"
    [@cardEnter]="calculateCardEnterAnimation(card, containerRef)"
    (@cardEnter.done)="animationEnd(card)"
    [@cardLeave]="calculateCardLeaveAnimation(card, containerRef)"
    (@cardLeave.done)="animationEnd(card)"
    [class.custom-animatiom]="card.isRestoredFromCardBoard"
    [style.marginLeft.px]="-cardsMargin"
    class="card-wrapper"
    (hover)="hover($event, card)"
    cdkDrag
    (cdkDragStarted)="onDragStarted($event)"
    (cdkDragEnded)="onDragEnded($event)"
    [cdkDragData]="card">
    <div #wrapper class="card-wrapper-inner">
      <card-container [card]="card"></card-container>
    </div>
    <div class="card-container-placeholder" *cdkDragPlaceholder></div>
  </div>

</div>