.toper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "PT Sans Narrow";
  font-weight: bold;
  color: #a8a8af;

  &:not(.reverse) {
    .title {
      padding: 0 10px 0 0;
    }
  }

  &.reverse {
    flex-direction: row-reverse;
    .title {
      padding: 0 0 0 10px;
    }
  }

  .separator {
    height: 2px;
    background-color: rgb(95, 95, 95);
    flex-grow: 1;
  }
}

