  @import './../../../../../scss/breakpoints.scss';


:host {
  background: transparent;
  width: 100%;
  height: 100%;
  display: block;


  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      margin-bottom: -5px;
    }

    h1 {
      padding: 0;
      margin: 0;
      font-size: 4rem;
      line-height: 0.8;
      color: #e4e4e4;
    }

    small {
      margin-top: 15px;
      font-weight: 500;
      color: #b8b8b7;
    }
  }

  .menu {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e4e4e4;
    font-weight: 500;
    font-size: 1.3rem;
    width: 300px;
    //z-index: 10;
    li {
      text-align: left;
      width: 100%;
      border-radius: 30px;
      cursor: pointer;
    }
  }

  .eye-catcher {
    position: relative;
    left: -30%;
    z-index: 0;
  }
}

main {
  height: 100%
}

button[flare-button] {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-size:  35px;
}