  @import './../../../../../scss/breakpoints.scss';


:host {
  background: transparent;
  width: 100%;
  height: 100%;
  display: block;


  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      margin-bottom: -5px;
    }

    h1 {
      padding: 0;
      margin: 0;
      font-size: 4rem;
      line-height: 0.8;
      color: #e4e4e4;
    }

    small {
      margin-top: 15px;
      font-weight: 500;
      color: #b8b8b7;
    }
  }

  .menu {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e4e4e4;
    font-weight: 500;
    font-size: 1.3rem;
    width: 300px;
    //z-index: 10;
    li {
      text-align: left;
      width: 100%;
      border-radius: 30px;
      cursor: pointer;
    }
  }

  .eye-catcher {
    position: relative;
    left: -30%;
    z-index: 0;
  }
}

main {
  height: 100%
}

.flare-btn {
  position: relative;
  border: none;
  background: transparent;
  padding: 10px 40px;
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-size:  35px;
  //padding: 0;
  outline: none;
  text-align: left;
  color: #a8a8af;
  transition: all ease-in-out 0.2s;

  .flare {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    opacity: 0;
    transition: all ease-in-out 0.2s;

    shard {
      position: absolute;
      left: 10;
      top: calc(50% - 10px);
      width: 20px;
      height: 20px;
      z-index: 2;  
      transition: all ease-in-out 0.2s;
      transform: translate(-10px, 0px) rotate(45deg);
      box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    }

    img {
      position: relative;
      left: -25px;
      top: -6px;
      width: 250px;
      z-index: 1;
    }
    // background: radial-gradient(ellipse at center right, white, transparent 75%);
    // filter: opacity(40%);
  }

  &:hover {
    color: #fff;
    transform: translate(10px, 0px);
    span {
      display: block;
    }
    .flare {
      opacity: 1;
      shard {
        transform: translate(0px, 0px) rotate(45deg);
      }
    }
  }
}