<main class="container">
  <div class="row fh" >
    <div class="column-5 flex_center-center">
      <div class="logo">
        <img src="assets/images/logo-icon.png">
        <h1>Dungeon<br>Crawler</h1>
        <small>{{ versionName }}, ver: {{ semanticVersion }}</small>
      </div>
      <ul class="menu">
        <li *ngFor="let item of (menuData$ | async)?.items">
          <button (click)="navigate(item)" [disabled]="item.isDisabled">{{ item.label | translate }}</button>
        </li>
        <!-- <li *ngIf="selectedGameSaveId | async" (click)="navigateToGame(selectedGameSaveId | async)">Continue</li> -->
        <!-- <li (click)="navigateToGameCreator()">New Game</li>
        <li (click)="navigateToGameLoader()">Load Game</li>
        <li>Options</li>
        <li>Scenario Editor</li>
        <li (click)="navigateToDevelopment()">Development</li> -->
      </ul>
    </div>
    <div class="column-5 flex_center-center"> 
      <img class="eye-catcher" src="assets/images/menu-eye-catcher.png">
    </div>
  </div>
</main>
<footer class="container widgets" >
  <div class="row fh">
    <div class="column-5">
      <div class="toper">
        <span>Dev log</span> <div class="separator"></div>
      </div>
      <dev-log-feed></dev-log-feed>  
    </div>
    <div class="column-5">
      <div class="toper reverse">
        <span>Socials</span> <div class="separator"></div>
      </div>
      <div class="socials-wrapper">
        <div *ngFor="let social of socials">
          <i [name]="social.iconName" (click)="openLink(social.link)"></i>
        </div>
      </div>   
    </div>
  </div>
</footer>