<div class="container fh">
  <div class="row fh justify-content-start">
    <div class="col-6 fh d-flex flex-column justify-content-center">
      <div class="logo">
        <img src="assets/images/logo-icon.png">
        <h1>Dungeon<br>Crawler</h1>
        <small>{{ versionName }}, ver: {{ semanticVersion }}</small>
      </div>
      <ul class="menu">
        <li *ngFor="let item of (menuData$ | async)?.items">
          <button 
            class="flare-btn blank-btn" 
            (click)="navigate(item)" 
            [disabled]="item.isDisabled">
              <span>{{ item.label | translate }}</span>
              <div class="flare">
                <shard></shard>
                <img src="assets/images/flare.png" />
              </div>
            </button>
        </li>
      </ul>
    </div>
  </div>
</div>