<div class="fluid-container d-flex flex-column justify-content-center">
  <div class="row origin-menu no-gutters">
    <div class="col d-flex flex-row justify-content-center">
      <button *ngFor="let origin of origins"
        class="origin-btn" 
        (click)="preview(origin)" 
        [class.isPreview]="origin.id === previewOrigin?.id || !canBeResolved$.value">
        <img [assetDeclaration]="origin.uiData.avatar"> <span>{{ origin.narrative.name | translate }}</span>
      </button>
    </div>
  </div>
</div>

<div class="fluid-container d-flex flex-column justify-content-center origin-preview">
  <div class="row origin-summary no-gutters">
    <div class="col">
      <div class="origin-title d-flex flex-row justify-content-start align-items-center">
        <img [assetDeclaration]="previewOrigin?.uiData.avatar"/>
        <h1>
          <small>{{ "commons.origin" | translate }}</small><br>
          {{ previewOrigin?.narrative.name | translate }}
        </h1>
      </div>
      <div class="origin-description">{{ previewOrigin?.narrative.description | translate }}</div>
    </div>
  </div>
</div>